{
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["^react", "^next", "^[a-z].*", "^@/.*", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
